<div>
  <form #projectForm="ngForm" (ngSubmit)="submit(projectForm)" name="ngform">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Add Projects</div>
        <div class="panel-body">
          <div class="form-group" [class.has-error]="projectName.touched && projectName.invalid">
            <div class="row">
              <div class="col-sm-3">
                <label for="ProjectName" class="control-label">Project Name</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Enter project Name" id="ProjectName" name="projectname" [(ngModel)]="projectData.ProjectName"
                  required #projectName="ngModel" minlength="10">
                  <div *ngIf="projectName.touched && projectName.invalid">
                    <span class="error" *ngIf="projectName.errors?.required">Name is required</span>
                    <span class="error" *ngIf="projectName.errors?.minlength">Minimum length is
                {{projectName.errors.minlength.requiredLength}}</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-error]="startDate.touched && startDate.invalid  && endDate.touched && endDate.invalid">
            <div class="row">
              <div class="col-sm-3">
                <input id="chkStartEnd" type="checkbox" name="chkdate" #chkEnable ng-model>
                <label for="chkStartEnd">Set Start and End Date:</label>
              </div>
              <div class="col-sm-8">
                <input id="StartDate" class="form-control" name="startdate" type="date" [disabled]="!chkEnable.checked" [ngModel]="projectData.StartDate | date:'yyyy-MM-dd'"
                  required #startDate="ngModel">
                  <input id="EndDate" type="date" name="enddate" [ngModel]="projectData.EndDate | date:'yyyy-MM-dd'" [disabled]="!chkEnable.checked"
                    class="form-control" required #endDate="ngModel">
                    <div *ngIf="startDate.touched && startDate.invalid && endDate.touched && endDate.invalid">
                      <span class="error" *ngIf="startDate.errors?.required">StartDate and EndDate is required</span>
                    </div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-error]="priority.touched && priority.invalid">
            <div class="row">
              <div class="col-sm-3">
                <label for="txtPriority">Priority:</label> </div>
              <div class="col-sm-8 ">
                <input id="rgPriority" [(ngModel)]="projectData.Priority" name="Priority" type="range" min="0" max="30" value="0" class="form-control"
                  required #priority="ngModel">
                  <div *ngIf="priority.touched && priority.invalid">
                    <span class="error" *ngIf="priority.errors?.required">Priority is required</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row ">
              <div class="col-sm-3">
                <label for="txtManager" name="manager">Manager:</label>
              </div>
              <div class="col-sm-8">
                <input id="txtManager" type="text" placeholder="Select Manager" class="form-control" name="manager" [(ngModel)]="username"
                  disabled #manager="ngModel">
                  <button type="button" class="btn btn-primary" style="width:85px;" name="btnsearch" (click)="openModal(template)">Search</button>
                  <ng-template #template>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">User Names</h4>
                      <button type="button" name="close" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">      
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <select ng-model="modelpopup" ng-app [(ngModel)]="user_ID" (change)="onChange($event)" name="modelpopup">
                      <option value="" selected disabled hidden>Choose here</option>
                     <option *ngFor = "let user of users " value={{user.User_ID}}  >{{user.FirstName}}  {{user.LastName}} </option>
                     </select>
                      <button (click)="modalRef.hide()">OK</button>
                    </div>
                  </ng-template>

              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row ">
            <div class="col-sm-3"></div>
            <div class="col-sm-8">
              <div class="pull-right">
                <button class="btn btn-md btn-primary" style="width:85px;" [disabled]="projectForm.invalid">Submit</button> &nbsp;
                <button type="reset" style="width:85px;" class="btn btn-success">Reset</button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
  <div style="margin-left: 25px;">
    <div class="row">
      <div class="col-sm-4">
        <label for="txtSearch">Search:</label>
        <input id="Search" type="text" placeholder="Enter text to search" class="form-control" name="Search" [(ngModel)]="ProjectName"
          required #Search="ngModel"></div>
      <div class="col-sm-8  pull-right">
        <label for="lblSort">Sort By: </label>
        <button name="StartDate" class="btn btn-primary btn-md" id="StartDate" style="width:85px;" (click)="sort('StartDate')">StartDate
            </button>&nbsp;
        <button name="EndDate" class="btn btn-primary btn-md" id="EndDate" style="width:85px;" (click)="sort('EndDate')">EndDate
            </button>&nbsp;
        <button name="Priority" class="btn btn-primary btn-md" id="Priority" style="width:85px;" (click)="sort('Priority')">Priority
            </button>&nbsp;
        <button name="Completed" class="btn btn-primary btn-md" id="Completed" style="width:85px;" (click)="sort('Completed')">Completed
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div class="row" *ngFor="let proj of projects | filter :ProjectName">
      <div class="col-sm-8" style="background-color:lightgray;"> Project: {{proj.ProjectName}}
        <div class="row">
          <div class="col-sm-6" style="background-color:lightgray;"> </div>
          <div class="col-sm-6" style="background-color:lightgray;"> </div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="background-color:lightgray;"> No of Tasks: {{proj.Tasks.length}}</div>
          <div class="col-sm-6" style="background-color:lightgray;"> Completed: {{ (proj.Tasks | filter : Status:'Completed').length }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="background-color:lightgray;"> </div>
          <div class="col-sm-6" style="background-color:lightgray;"> </div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="background-color:lightgray;"> Start Date: {{proj.StartDate}}</div>
          <div class="col-sm-6" style="background-color:lightgray;"> End Date: {{proj.EndDate}}</div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="background-color:lightgray;"> </div>
          <div class="col-sm-6" style="background-color:lightgray;"> </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-3" style="background-color:lightgray; ">
          <label for="txtPriority" name="Priority"> Priority</label>
          <div class="row"><div class="col-sm-3"></div></div> 
          <div class="row"><div class="col-sm-3"></div></div>
          <div class="row"><div class="col-sm-3" style="background-color:lightgray; ">
              {{proj.Priority}}</div></div>
           <div class="row"><div class="col-sm-3"></div></div> 
           <div class="row"><div class="col-sm-3"></div></div> 
           <div class="row"><div class="col-sm-3"></div></div>
           <div class="row"><div class="col-sm-3"></div></div>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-primary btn-md" (click)="edit(proj.Project_ID)" name="Edit" style="width:85px;" id="Edit">  Edit
            </button>&nbsp;
          <button class="btn btn-primary btn-md" (click)="delete(proj.Project_ID)" name="Suspend" style="width:85px;" id="Suspend">  Suspend
            </button>
        </div>
      </div>
    </div>
  </div>